body{
	background: #f7f7f7;
	font-family: Verdana;
	width: 900 px;
	margin: auto;
}

#title, .subtitle, .posttitle {
	color: #505050;
}

#title { font-size: 30px;
		 text-transform: uppercase;
		 text-align: center;
		 
}

a { text-decoration: underline;
	color: #202526;
}

.posttitle { font-size: 16 px; 
			 font-style: italic;
			 margin: 0;
			 margin-bottom: 15px;
			 text-align: center;
			 
}

.post { background: #FAAA49;
		padding: 15px;
		border: 3px solid #000;
		margin-bottom: 15px;
		border-radius: 10px;
}

.post-content { margin: 0;
				margin-bottom: 15px;
				text-transform: capitalize;
				
}

.post-image { margin-bottom: 15 px;
			  width: 100%;
}

.header-img { border: 1px solid #505050;
			  border-radius: 50%;
			  display: block;
			  margin-left: auto;
			  margin-right: auto;
}

.list { list-style-type: none;
		padding-left: 15px;
		
		
}

.list li a { color: blue;
}